@font-face
  font-family: 'iconfont'  /* project id 474969 */
  src: url('//at.alicdn.com/t/font_474969_qhkidyz0t5d0a4i.eot')
  src: url('//at.alicdn.com/t/font_474969_qhkidyz0t5d0a4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_474969_qhkidyz0t5d0a4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_474969_qhkidyz0t5d0a4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_474969_qhkidyz0t5d0a4i.svg#iconfont') format('svg')

text.i
  font-family: "iconfont" !important
  font-size: 28rpx
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
