@font-face
  font-family: 'iconfont'  /* project id 474969 */
  src: url('//at.alicdn.com/t/font_474969_sjvhu1fd1vm18aor.eot');
  src: url('//at.alicdn.com/t/font_474969_sjvhu1fd1vm18aor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_474969_sjvhu1fd1vm18aor.woff') format('woff'),
  url('//at.alicdn.com/t/font_474969_sjvhu1fd1vm18aor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_474969_sjvhu1fd1vm18aor.svg#iconfont') format('svg')

text.i
  font-family: "iconfont" !important
  font-size: 28rpx
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
